* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62,5%;
}

body {
  background: bottom center/cover no-repeat;
  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
}

.home {
  background-image: url('/img/mountains-universe-1\ 1.jpg');
}

button {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 1.2rem 3.2rem;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;

  color: #ffffff;
  cursor: pointer;
  transition: 2s;

  animation: downtop 2s 300ms backwards;
}

nav {
  display: flex;
  gap: 3.2rem;
}

a {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;

  padding-top: 10.2rem;
}

nav {
  margin-left: 7.2rem;
  animation: topdown 900ms 100ms backwards;
}

nav img {
  margin-right: 3.2rem;
}

h1 {
  font-style: bold;
  font-size: 4.8rem;
  color: #ffffff;

  animation: downtop 2s 300ms backwards;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 2.9rem;

  animation: downtop 2s 300ms backwards;
}

main {
  padding: 10.3rem 0 0 10.2rem;
}

h1 {
  margin-bottom: 1.6rem;
}

.h1-home {
  margin-bottom: 2.4rem;
}

nav a:hover {
  color: #ffffff;
  scale: 1.1;
  font-style: bold;
}

button:hover {
  scale: 1.1;
  background-color: #ece9e967;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}